#stockLogo{
    width: 80px;
    max-height: 80px;
}

.background {
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    z-index: -1;
    left: 0px;
    top: 0px;
    position: absolute;
}

