@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(113,9,121,1) 35%, rgba(60,89,207,1) 69%, rgba(0,212,255,1) 100%); 
  filter:blur(10px);
}
